<div class="row">
  <div class="details-box col-sm-12">
    <div class="row">
      <p class="col-sm-6">The workflow type name</p>
      <p class="col-sm-6 prop-val">Workflow 1</p>
    </div>
    <div class="row">
      <p class="col-sm-6">Description</p>
      <p class="col-sm-6 prop-val">This is sample description for dummy workflow 1.</p>
    </div>
    <div class="row">
      <p class="col-sm-6">Utility Type</p>
      <mat-form-field class="col-sm-6 prop-val">
        <mat-label>Select</mat-label>
        <mat-select>
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="details-box col-sm-12">
    <div class="row">
      <p class="col-sm-6">Operation ID</p>
      <p class="col-sm-6 prop-val"><span class="text-grey">122311</span></p>
    </div>
    <div class="row">
      <p class="col-sm-6">Sortering No.</p>
      <p class="col-sm-6prop-val">2100911111</p>
    </div>
    <div class="row">
      <p class="col-sm-6">Run on clear</p>
      <mat-slide-toggle class="col-sm-6 prop-val" [color]="color" [checked]="checked" [disabled]="disabled">
      </mat-slide-toggle>
    </div>
    <div class="row">
      <p class="col-sm-6">Fail on error</p>
      <mat-slide-toggle class="col-sm-6 prop-val" [color]="color" [checked]="checked" [disabled]="disabled">
      </mat-slide-toggle>
    </div>
    <div class="row">
      <p class="col-sm-6">Error Handler</p>
      <mat-slide-toggle class="col-sm-6 prop-val" [color]="color" [checked]="checked" [disabled]="disabled">
      </mat-slide-toggle>
    </div>
    <div class="row">
      <p class="col-sm-6">Parameters</p>
      <p class="col-sm-6 prop-val">This is sample parameters for dummy workflow 1.</p>
    </div>
    <div class="row">
      <p class="col-sm-6">Comments</p>
      <p class="col-sm-6 prop-val">This is sample comments for dummy workflow 1.</p>
    </div>
    <div class="row">
      <p class="col-sm-6">Implementation</p>
      <p class="col-sm-6 prop-val">This is sample implementation for dummy workflow 1.</p>
    </div>
    <div class="row">
      <p class="col-sm-6">Description</p>
      <p class="col-sm-6 prop-val">This is sample description for dummy workflow 1.</p>
    </div>
  </div>
</div>